{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/gift.png' %}"/>

</head>
<body>
    <ul>
        <li><a href="{% url 'authorization:login' %}">Login</a></li>
        <li><a href="{% url 'authorization:register' %}">Register</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>