{% extends 'base.html' %}
{% load static %}
{% block title%}{{ user.username }}'s profile {% endblock %}

{% block css %}
<style>
.desire {
    position: fixed;
    padding: 10px;
    margin: 0;
}

.gift-image {
    display: inline-block;
    margin-right: 50px;
    float: left;
}

.desire-info {
    display: inline-block;
    float: left;
}

</style>
{% endblock %}

{% block content %}
<div class="profile">
    <div class="image">
        <img src="{% static 'images/user.webp' %}" width="200px" height="200px">

    </div>
    <div class="username-and-status">
        <h3>{{ user.username }}</h3>
        <p>Количесвто друзей: {{ friends_count }}</p>
        <p>Количество желаний: {{ desires_count }}</p>
    </div>
    {% if not user_profile and not friends_check %}
    <a href="/friends/send_request/{{ user.id }}" type="button">Добавить в друзья</a>
    {% endif %}
</div>


<h1>Список желаний пользователя</h1>
<div class="list-group desires">
    {% for desire in desires_list %}
    <div class="list-group-item desire">
        <div class="gift-image">
            {% if desire.image_url %}
            <img src= "{{ desire.image_url }}" width=100px>
            {% else %}
            <img src= "{% static 'images/gift.png' %}">
            {% endif %}
        </div>
        <div class="desire-info">
            <div class="desire-name">
                <b>{{ desire.name }}</b>
            </div>
            <div class="desire-description">
                <i>{{ desire.description }}</i>
            </div>

            <div class="desire-label">
                <span>{{ desire.label.name }}</span>
            </div>
            <div class="desire-creation">
                <span style="color:grey">{{ desire.creation_date }}</span>
            </div>
        </div>
    </div>
    {% empty %}
    {% if not user_profile %}
    </br>
    <h4> {{ user.username }} пока ничего не добавил в список своих желаний </h4>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}