<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>

</head>

<body>
    <h2>Menu</h2>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/friends">Friends</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/desires">Desires</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    {% block script%}
    {% endblock %}

</body>

</html>