{% extends 'base.html' %}
{% block title %} Friends{% endblock %}
{% block content %}
<h1>Pending friend request:</h1>
<ul>
    {% for friend in friend_requests %}
    <li><a href="accept_request/{{ friend.id }}">{{ friend.username }}</a></li>
    {% empty %}
    No friend requests. KEKW
    {% endfor %}
</ul>
<h1>Your friends list:</h1>
<ul>
    {% for friend in friends %}
    <li> <a href="{% url 'authorization:profile' friend.id %}">{{ friend.username }}</a> </br> <a href="{% url 'friends:dissolve' friend.id %}">del</a></li>
    {% empty %}
    You don't have any friend. OMEGALUL
    {% endfor %}
</ul>
{% endblock %}