{% extends 'base.html' %}
{% block title %} Friends{% endblock %}
{% block content %}
<h1 class="ml-3">Заявки в друзья</h1>
<ul class="list-group">
    {% for friend in friend_requests %}
    <li class="list-group-item"> 
        username: <a href="{% url 'authorization:profile' friend.id %}">{{ friend.username }}</a></br>
        <a href="{% url 'friends:accept_friend_request' friend.id %}">Принять</a>
        <a href="{% url 'friends:dissolve' friend.id %}">Отклонить</a>
    </li>
    {% empty %}
    <span class="ml-4">Пока заявок нет</span>
    {% endfor %}
</ul>
<h1 class="ml-3">Ваши друзья</h1>
<ul class="list-group">
    {% for friend in friends %}
    <li class="list-group-item"> 
        username: <a href="{% url 'authorization:profile' friend.id %}">{{ friend.username }}</a></br>
        <a href="{% url 'friends:dissolve' friend.id %}">Удалить</a>
    </li>
    {% empty %}
    <span class="ml-4">Попробуйте найти новых друзей во вкладке "Поиск"</span>
    {% endfor %}
</ul>
{% endblock %}